html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  /* font-family */
}



.layout {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  /* position: fixed;
    overflow: hidden; */
}

/* 묻고 딥해요 */
#str1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
}

/* 어플리케이션 사용 중 ... */
.str2 {
  font-size: 20px;
  color: #ffffff;
}

.titleText {
  height: 300px;
  padding: 20px;
  /* margin-left: 10%; */
}


#soundIcon i {
  margin: 0 3%;
  width: 100px;
  font-size: 50px;
}


/* 작성하기 버튼 */
.btn-1 {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5em 3em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  color: black;
  margin-left: 40%;
  background-color: white;
  box-shadow: 0px 4px 4px #747677;
}

.btn-1:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-1:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-1::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-1::after {
  background-color: #fff;
}

.btn-1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-1>a {
  text-decoration: none;
  color: black;
}

.str {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 600;

}

.button-content a {
  text-decoration: none;
  color: white;
}

.article {
  background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.8) 15.53%, rgb(243, 243, 231) 88.19%);
  margin: 50px 0px 10px 8%;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #747677;
  left: 5%;
  padding: 30px;
  height: 250px;
  width: 740px;
}

/* 프로필 아이콘 */
#profile {
  display: inline-block;
  /* justify-items: center; */
  border-radius: 60px;
  width: 50px;
  height: 50px;
  background-color: #bcc4c9;
  padding: 1rem;
}

#profile i {
  font-size: 35px;
  margin: 0.5rem;
}



/* 유저 이름 */
#userName {
  display: inline;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
}

#question{
  width: 550px;
  height: 70px;
  margin-left: 15%;
  overflow: hidden;
  padding: 0 10px 0 10px;
}
#question p {
  font-size: 18px;
  font-weight: 500;
}

* {
  list-style: none;
}

/* 댓글 개수 버튼  */


/* 0815 수정 */
.count-comment {
  background-color: #bcc4c967;
  width: 130px;
  border-radius: 30px;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 18px;
  /* box-shadow: 0px 4px 4px #747677; */
  font-weight: 500;
  margin-right: 100px;
  margin-left: 26%;

}


/* 0815 수정 */
/* 두 번째 버튼 */
.button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #25252598;
  background-size: 400%;
  color: #ffffff;
  border: none;
  font-size: 18px;
  margin-top: 50px;
}

.button:hover::before {
  transform: scaleX(1);

}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgb(180, 179, 179) 10.8%,
      rgb(122, 122, 122) 94.3%);
  transition: all 0.475s;
}



footer {
  height: 300px;
}

/* 0815 수정 */
/* 토글 */
nav {
  width: 100%;
}

ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*  리스트 간 간격 좀 더 늘렸습니다 */
ul li {
  list-style: none;
  display: inline-block;
  padding: 30px;
}


ul li a {
/* 색상은 각자 페이지에 맞게 자유로이 */
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.toggle {
  width: 100%;
  padding: 20px 30px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 32px;
  display: none;
}

/*  웹 로고 + 서비스 명 스타일 추가*/
.web-name{
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
nav span:first-child {
  margin-left: 5%;
}

nav span{
  float: left;
}


nav span img{
  width: 100px;
  padding: 10px;
}

/* 0815 수정 */
/* 리스트 글이 길어져서 963px부터 블록으로 떨어지더라구 지저분한 거 같아서 964px로 변경했습니다!  */
@media (min-width:220px) and (max-width:964px) {
  .toggle{
      display: block;
  }
  ul{
      width: 100%;
      display: none;
  }
  ul li{
      display: block;
      text-align: center;
  }
  .active{
      display: block;
  }
}




@media screen and (max-width: 1020px) {


  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    /* font-family */
  }


  footer {
    height: 300px;
  }


  .layout {
    width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
    /* position: fixed;
    overflow: hidden; */
  }

  #str1 {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
  }

  .str2 {
    font-size: 20px;
    color: #ffffff;
  }

  .titleText {
    height: 300px;
    padding: 20px;
    /* margin-left: 10%; */
    margin-top: 100px;
  }

  #soundIcon i {
    margin: 0 3%;
    width: 100px;
    font-size: 50px;
  }


  /* 작성하기 버튼 */
  .btn-1 {
    position: relative;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 3em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    color: black;
    margin-left: 40%;
    background-color: white;
    box-shadow: 0px 4px 4px #747677;
  }

  .btn-1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn-1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  .btn-1::after {
    background-color: #fff;
  }

  .btn-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-1>a {
    text-decoration: none;
    color: black;
  }

  .str {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 600;

  }



  .article {
    background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.8) 15.53%, rgb(243, 243, 231) 88.19%);
    margin: 50px 0px 10px 7%;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #747677;
    left: 5%;
    padding: 30px;
    height: 250px;
    width: 740px;
  }
  
  /* 프로필 아이콘 */
  #profile {
    display: inline-block;
    /* justify-items: center; */
    border-radius: 60px;
    width: 50px;
    height: 50px;
    background-color: #bcc4c9;
    padding: 1rem;
  }
  
  #profile i {
    font-size: 35px;
    margin: 0.5rem;
  }
  
  
  
  /* 유저 이름 */
  #userName {
    display: inline;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
  }
  
  #question{
    width: 550px;
    height: 70px;
    margin-left: 15%;
    overflow: hidden;
    padding: 0 10px 0 10px;
  }
  #question p {
    font-size: 18px;
    font-weight: 500;
  }
  
  * {
    list-style: none;
  }
  
  /* 댓글 개수 버튼  */
  
  
  
  .count-comment {
    background-color: #bcc4c967;
    width: 130px;
    border-radius: 30px;
    text-align: center;
    padding: 0.5rem 2rem;
    font-size: 18px;
    /* box-shadow: 0px 4px 4px #747677; */
    font-weight: 500;
    margin-right: 100px;
    margin-left: 60px;
    margin-left: 26%;
  
  }
  
  
  
  /* 두 번째 버튼 */
  .button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #25252598;
    background-size: 400%;
    color: #ffffff;
    border: none;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
        rgb(180, 179, 179) 10.8%,
        rgb(122, 122, 122) 94.3%);
    transition: all 0.475s;
  }


}

/* 모바일 */
@media screen and (max-width: 480px) {
  html, body {
    width: 100%;
    height: 500px;
  }

  body {
    margin: 0;
  }


  footer {
    height: 100px;
  }


  .layout {
    width: 480px;
    padding: 0 5px;
    margin: 0 auto;
    /* position: fixed;
    overflow: hidden; */
  }

  #str1 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
  }

  .str2 {
    font-size: 15px;
    color: #ffffff;
  }

  .titleText {
    height: 300px;
    padding: 20px;
    /* margin-left: 10%; */
    margin-top: 100px;
  }

  #soundIcon i {
    margin: 0 3%;
    width: 100px;
    font-size: 30px;
  }



  .str {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;

  }

  .container {
    height: 200px;
  }

  .article {
    background-color: #ffffff;
    margin: 15px 0px 10px 10%;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #c2c2c2;
    padding: 30px;
    height: 200px;
    width: 300px;
  }


  #profile {
    display: inline-block;
    /* justify-items: center; */
    border-radius: 60px;
    width: 40px;
    height: 40px;
    background-color: #bcc4c9;
    padding: 10px;
  }

  #profile i {
    margin: 0.8rem;
    font-size: 20px;
  }




  #userName {
    display: inline;
    margin: 0 10px;
    font-size: 13px;
  }

  #question{
    width: 210px;
    height: 70px;
    margin-left: 40px;
    overflow: hidden;
    padding: 0 5px 0 5px;
  }
  #question p {
    font-size: 14px;
    margin: 0px 0px 0px 10%;
    font-weight: 600;
  }

  * {
    list-style: none;
  }


.btn2{
  margin-top: 15px;
}
  .btn2 > span{
    margin-left: 40px;
  }

  .count-comment {
    background-color: #bcc4c967;
    border-radius: 30px;
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-size: 12px;
    /* box-shadow: 0px 4px 4px #747677; */
    font-weight: 500;
    margin: 0;
  }

  .button button {
    margin: 0;
  }

  /* 보러 가기 버튼 */
  .button {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #25252598;
    color: #ffffff;
    border: none;
    font-size: 12px;
    margin: 0;
  }

  .button:hover::before {
    transform: scaleX(1);

  }

  .button-content {
    position: relative;
    z-index: 1;
  }

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
        rgb(180, 179, 179) 10.8%,
        rgb(122, 122, 122) 94.3%);
    transition: all 0.475s;
  }

  /* 작성하기 버튼튼 */

  .btn-1 {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 3em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    color: black;
    margin-left: 36%;
    background-color: white;
    box-shadow: 0px 4px 4px #747677;
  }

  .btn-1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn-1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  .btn-1::after {
    background-color: #fff;
  }

  .btn-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-1>a {
    text-decoration: none;
    color: black;
  }
}


svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -3;
}