#layout {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

html, body {
  width: 100%;
  height: 1300px;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  height: 300px;
}

.remove-post {
  float: right;
}


/* Phone */
.phone {
  position: relative;
  z-index: 2;
  width: 40rem;
  height: 53rem;
  background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.9) 88.19%);
  -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
  box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 100px 0 0 34%;

}

/* phone 요소 */
.menu {
  /*   background-color: blue; */
  font-size: 80%;
  opacity: .4;
  padding: .8rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

.battery {
  width: .85rem;
  height: .45rem;
  background-color: black;
}

.network {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.8px 7.2px 6.8px;
  border-color: transparent transparent black transparent;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: .12rem .5rem;
}

.time {
  color: black;
}

/* 움직이는 배경 */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.out-top {
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}

.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 25px;
}

.out-bottom {
  animation: rotate 25s linear infinite;
  transform-origin: 84px 93px;
}

.in-bottom {
  animation: rotate 15s linear infinite;
  transform-origin: 84px 93px;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -3;
}


/*  댓글 입력 받는 input */
#input-comment {
  background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 30px;
  padding: 30px;
  font-size: 15px;
  outline: none;
  resize: none;
  margin: 0 0 0 15%;

  width: 300px;
  height: 40px;


}

/* 작성 완료 버튼 */
#send {
  background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 18px;
  border: none;
  width: 80px;
  text-align: center;
  padding: 25px;
  font-size: 15px;
  position: absolute;
  top: 700px;
  margin-left: 30px;
}

#send:hover {
  background-color: white;
}

/* 글 작성 부분 시작 */

/* 글 작성자 이름 */
.user {
  margin-left: 120px;
  font-size: 18px;
}

/* 수정 내용 시작 */
/* 글 삭제 수정 신고 */
.phone-header {
  margin-top: 30px;
  margin-bottom: 10px;
}


.remove-post i {
  margin-right: 160px;
  font-size: 25px;
}

.rewrite i{
  font-size: 25px;
  margin-left: 230px;
  
}

.report i{
  font-size: 25px;
  position: absolute;
  left: 505px;
}

/* .fa-triangle-exclamation:hover .audio-player{
  display: block;
} */

/* 댓글 수정 삭제 신고 */

.remove-post-2, .rewrite-2, .report-2{
  color: gray;
}
.rewrite-2 i{
  margin-left: 250px;
  margin-right: 10px;
}

.remove-post-2 i{
  margin-right: 10px;
}

/* 댓글 디자인 추가 */
.comment-header{
  margin-bottom: 10px;
}



/* 글 작성 가능 범위 */
.scroll-container-1 {
  width: 400px;
  height: 160px;
  /* 위 범위를 넘어가면 스크롤 */
  overflow: auto;
  padding: 0px 30px;
  margin-left: 100px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);

}

/* 글 작성 내용 부분 */
.content p {
  padding: 5px 10px;
  font-size: 16px;

}

/* 글 작성 부분 끝 */



/* 구분 선 1 */
.line-1 {
  border-top: 2px solid rgb(221, 221, 217);
  width: 445px;
  margin-left: 109px;
  margin-top: 20px;
}

/* 댓글 범위 
-> 해당 범위 넘어가면 스크롤 생성 */
.comment {
  width: 400px;
  height: 290px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: auto;
}

/* 댓글 작성자 사용자 이름 */
.user-name {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* 댓글끼리 구분 선  */
.line-2 {
  border-top: 2px solid rgb(221, 221, 217);
  margin-top: 15px;
  margin-bottom: 10px;
}





/* 토글 */
nav {
  width: 100%;
}

ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*  리스트 간 간격 좀 더 늘렸습니다 */
ul li {
  list-style: none;
  display: inline-block;
  padding: 30px;
}

/*
  수정 필요
  ul li:hover{
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
} */

ul li a {
  /* 색상은 각자 페이지에 맞게 자유로이 */
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.toggle {
  width: 100%;
  padding: 20px 30px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 32px;
  display: none;
}

.toggle i {
  color: black;
}

/*  웹 로고 + 서비스 명 스타일 추가*/
.web-name {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

nav span:first-child {
  margin-left: 5%;
}

nav span {
  float: left;
}


nav span img {
  width: 100px;
  padding: 10px;
}







@media screen and (max-width: 1020px) {
  #layout {
    width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
  }

  html, body {
    width: 100%;
    height: 100%;
  }


  footer {
    height: 300px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /*   
#str1 {
    font-size: 80px;
    font-weight: 700;
    color: black;
}
.str2{
    font-size: 20px;
    color: black;
}
.titleText{
    height: 300px;
    padding: 20px;
    margin-left: 30%;
    margin-top: 100px;
}
.fa-volume-high{
    margin: 0 3%;
    width: 100px;
    font-size: 50px;
} */


  /* Phone */
  .phone {
    position: relative;
    z-index: 2;
    width: 40rem;
    height: 53rem;
    background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.9) 88.19%);
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 100px 0 0 17%;
  }

  /* phone 디자인 요소 */
  .menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5rem;
  }

  .battery {
    width: .85rem;
    height: .45rem;
    background-color: black;
  }

  .network {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.8px 7.2px 6.8px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: .12rem .5rem;
  }

  .time {
    color: black;
  }



  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
  }


  /*  댓글 입력 받는 input */
  #input-comment {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 30px;
    padding: 30px;
    font-size: 15px;
    outline: none;
    resize: none;
    margin: 0 0 0 15%;

    width: 300px;
    height: 40px;


  }

  /* 작성 완료 버튼 */
  #send {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 18px;
    border: none;
    width: 80px;
    text-align: center;
    padding: 25px;
    font-size: 15px;
    position: absolute;
    top: 700px;
    margin-left: 30px;
  }

  /* 글 작성 부분 시작 */

  /* 글 작성자 이름 */
  .user {
    margin-left: 120px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  /* 글 작성 가능 범위 */
  .scroll-container-1 {
    width: 400px;
    height: 160px;
    /* 위 범위를 넘어가면 스크롤 */
    overflow: auto;
    padding: 0px 30px;
    margin-left: 100px;
    border-radius: 30px;
    /* background-color: rgba(255, 255, 255, 0.6); */

  }

  /* 내용 글 작성 부분 */
  .content {
    padding: 15px;
    font-size: 18px;

  }

  /* 글 작성 부분 끝 */



  /* 구분 선 1 */
  .line-1 {
    border-top: 2px solid rgb(221, 221, 217);
    width: 445px;
    margin-left: 109px;
    margin-top: 20px;
  }

  /* 댓글 범위 
-> 해당 범위 넘어가면 스크롤 생성 */
  .comment {
    width: 400px;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
  }

  /* 댓글 작성자 사용자 이름 */
  .user-name {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* 댓글끼리 구분 선  */
  .line-2 {
    border-top: 2px solid rgb(221, 221, 217);
    ;
    margin-top: 15px;
  }





  /* 토글 */
  nav {
    width: 100%;
  }

  ul {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  /*  리스트 간 간격 좀 더 늘렸습니다 */
  ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
  }

  /*
  수정 필요
  ul li:hover{
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
} */

  ul li a {
    /* 색상은 각자 페이지에 맞게 자유로이 */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }

  .toggle {
    width: 15%;
    padding: 20px 30px;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
    display: none;
    
    float: right;
  }

  .toggle i {
    color: black;
  }

  /*  웹 로고 + 서비스 명 스타일 추가*/
  .web-name {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  nav span:first-child {
    margin-left: 5%;
  }

  nav span {
    float: left;
  }


  nav span img {
    width: 100px;
    padding: 10px;
  }

}

@media screen and (max-width: 478px) {
  #layout {
    width: 478px;
    padding: 0;
    margin: 0 auto;
  }

  html, body {
    width: 100%;
    height: 100%;
  }


  footer {
    height: 100px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /*   
#str1 {
    font-size: 80px;
    font-weight: 700;
    color: black;
}
.str2{
    font-size: 20px;
    color: black;
}
.titleText{
    height: 300px;
    padding: 20px;
    margin-left: 30%;
    margin-top: 100px;
}
.fa-volume-high{
    margin: 0 3%;
    width: 100px;
    font-size: 50px;
} */


  /* Phone */
  .phone {
    position: relative;
    z-index: 2;
    width: 20rem;
    height: 37rem;
    background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.9) 88.19%);
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 40px 0 0 17%;
  }

  /* phone 디자인 요소 */
  .menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5rem;
  }

  .battery {
    width: .85rem;
    height: .45rem;
    background-color: black;
  }

  .network {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.8px 7.2px 6.8px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: .12rem .5rem;
  }

  .time {
    color: black;
  }



  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
  }


  /*  댓글 입력 받는 input */
  #input-comment {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 30px;
    padding: 10px;
    font-size: 10px;
    outline: none;
    resize: none;
    margin: 0 0 0 10%;

    width: 130px;
    height: 15px;


  }

  /* 작성 완료 버튼 */
  #send {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(255, 255, 255, 0.63) 88.19%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 18px;
    border: none;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 5px;
    margin-left: 20px;
    position: absolute;
    top: 535px;
  }



  /* 글 작성 부분 시작 */

  /* 글 작성자 이름 */
  .user {
    margin-left: 30px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* 글 작성 가능 범위 */
  .scroll-container-1 {
    width: 200px;
    height: 100px;
    /* 위 범위를 넘어가면 스크롤 */
    overflow: auto;
    padding: 0px 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);

  }

  /* 내용 글 작성 부분 */
  .content p {
    padding: 0;
    font-size: 12px;

  }

  /* 글 작성 부분 끝 */



  /* 구분 선 1 */
  .line-1 {
    border-top: 2px solid rgb(221, 221, 217);
    width: 200px;
    margin-left: 60px;
    margin-top: 10px;
  }

  /* 댓글 범위 
-> 해당 범위 넘어가면 스크롤 생성 */
  .comment {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;
  }

  /* 댓글 작성자 사용자 이름 */
  .user-name {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* 댓글끼리 구분 선  */
  .line-2 {
    border-top: 2px solid rgb(221, 221, 217);
    ;
    margin-top: 15px;
  }


  .user-comment {
    font-size: 12px;
  }


/* 수정 내용 시작 */
/* 글 삭제 수정 신고 */
.phone-header {
  margin-top: 30px;
  margin-bottom: 10px;
}


.remove-post i {
  margin-right: 80px;
  font-size: 15px;
}

.rewrite i{
  font-size: 15px;
  margin-left: 125px;
  
}

.report i{
  font-size: 15px;
  position: absolute;
  left: 255px;
  top: 79px;
}

/* .fa-triangle-exclamation:hover .audio-player{
  display: block;
} */

/* 댓글 수정 삭제 신고 */

.remove-post-2, .rewrite-2, .report-2{
  color: gray;
  font-size: 9px;

}
.rewrite-2 i{
  margin-left: 100px;
  margin-right: 10px;
}

.remove-post-2 i{
  margin-right: 10px;
}

/* 댓글 디자인 추가 */
.comment-header{
  margin-bottom: 10px;
}



/* 댓글끼리 구분 선  */
.line-2 {
  border-top: 2px solid rgb(221, 221, 217);
  margin-top: 15px;
  margin-bottom: 10px;
}




  /* 토글 */
  nav {
    width: 100%;
  }

  ul {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  /*  리스트 간 간격 좀 더 늘렸습니다 */
  ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
  }

  /*
  수정 필요
  ul li:hover{
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
} */

  ul li a {
    /* 색상은 각자 페이지에 맞게 자유로이 */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }

  .toggle {
    width: 30%;
    padding: 20px 30px;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
    display: none;
    
    float: right;
  }

  .toggle i {
    color: black;
  }

  /*  웹 로고 + 서비스 명 스타일 추가*/
  .web-name {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  nav span:first-child {
    margin-left: 5%;
  }

  nav span {
    float: left;
  }


  nav span img {
    width: 100px;
    padding: 10px;
  }

}


@media (min-width:220px) and (max-width:990px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}