#layout {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  /* position: fixed;
    overflow: hidden; */
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


footer{
  height: 300px;
}

.title {
  margin-left: 36%;
  margin-top: 0;
}

.str1, .str3 {
  font-size: 80px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0;
}

.str2, .str4 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}


.btn3 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5em 6em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
  font-family: inherit;
  font-weight: 500;
  color: black;
  background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
  margin: 130px 0 0 34%;
}

.btn3:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn3:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn3::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn3::after {
  background-color: #fff;
}

.btn3:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.input[type="text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(250, 250, 250, 0.9) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 250px;
  transition: 0.5s;
  font-size: 15px;

  
  
}

#posted {
  background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(239, 241, 248, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  padding: 30px;
  font-size: 15px;
  outline: none;
  resize: none;
  margin: 20px 0 0 17%;
  
  width: 400px;
  height: 500px;
  
  
}

.input[type="text"]:hover {
  width: 240px;
}

.input[type="text"]:focus {
  width: 280px;
}
배경화면
/*  */
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -3;
}

/* Phone */
.phone {
  position: relative;
  z-index: 2;
  width: 40rem;
  height: 47rem;
  background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
  -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
  box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 0 0 34%;

  
  
}

/* Top */
.menu {
  /*   background-color: blue; */
  font-size: 80%;
  opacity: .4;
  padding: .8rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

.battery {
  width: .85rem;
  height: .45rem;
  background-color: black;
}

.network {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.8px 7.2px 6.8px;
  border-color: transparent transparent black transparent;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: .12rem .5rem;
}

.time {
  color: black;
}

#soundIcon i{
  font-size: 50px;
  color: #6886D2;
  margin: 0 5px;
}


/* 토글 */
nav {
  width: 100%;
  
}

ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

ul li{
  list-style: none;
  display: inline-block;
  padding: 30px;
}


/*
  수정 필요
  ul li:hover{
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
} */

ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.toggle {
  width: 100%;
  padding: 20px 30px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 32px;
  display: none;
}

.toggle i{
  color: #6a8bdf;
}
.web-name{
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
nav span:first-child {
  margin-left: 5%;
}

nav span{
  float: left;
}


nav span img{
  width: 100px;
  padding: 10px;
}




/* 리스트 글이 길어져서 963px부터 블록으로 떨어지는 게 지저분한 거 같아서 964px로 변경했습니다!  */
@media (min-width:220px) and (max-width:964px) {
  .toggle{
      display: block;
      height: 100px;
  }
  ul{
      width: 100%;
      display: none;
  }
  ul li{
      display: block;
      text-align: center;
  }
  .active{
      display: block;
  }
}

@media screen and (max-width:1020px) {
  #layout {
    width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
    /* position: fixed;
    overflow: hidden; */
    
  }

  .toggle i{
    float: right;
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  
  footer{
    height: 300px;
  }
  .title {
    margin-left: 28%;
    margin-top: 0;
  }

  .str1, .str3 {
    font-size: 80px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0;
  }

  .str2, .str4 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }


  .btn3 {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 6em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    font-family: inherit;
    font-weight: 500;
    color: black;
    background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
    margin: 130px 0 0 34%;
  }

  .btn3:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn3:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn3::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  .btn3::after {
    background-color: #fff;
  }

  .btn3:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .input[type="text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(250, 250, 250, 0.9) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 250px;
    transition: 0.5s;
    font-size: 15px;
   
    
  }

#posted {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(239, 241, 248, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    padding: 30px;
    font-size: 15px;
    outline: none;
    resize: none;
    margin: 20px 0 0 104px;
    width: 400px;
    height: 500px;
  }

  .input[type="text"]:hover {
    width: 240px;
  }

  .input[type="text"]:focus {
    width: 280px;
  }



  /* Phone */
  .phone {
    position: relative;
    z-index: 2;
    width: 40rem;
    height: 47rem;
    background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0 0 18.5%;
    
  }

  /* Top */
  .menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5rem;
  }

  .battery {
    width: .85rem;
    height: .45rem;
    background-color: black;
  }

  .network {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.8px 7.2px 6.8px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: .12rem .5rem;
  }

  .time {
    color: black;
  }
}

@media screen and (max-width:478px) {
  #layout {
    width: 478px;
    padding: 0 5px;
    margin: 0 auto;
    /* position: fixed;
      overflow: hidden; */
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  
  footer{
    height: 100px;
  }

  .title {
    margin-left: 15%;
    margin-top: 0;
  }

  .str1, .str3 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0;
  }

  .str2, .str4 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }


  .btn3 {
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 3em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    font-family: inherit;
    font-weight: 500;
    color: black;
    background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
    margin: 90px 0 0 125px;
  }

  .btn3:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn3:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn3::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  .btn3::after {
    background-color: #fff;
  }

  .btn3:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .input[type="text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(250, 250, 250, 0.9) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 140px;
    transition: 0.5s;
    font-size: 10px;
  }

  #posted {
    background: linear-gradient(142.99deg, rgba(248, 248, 248, 0.658) 15.53%, rgba(239, 241, 248, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    padding: 30px;
    font-size: 10px;
    outline: none;
    resize: none;
    margin: 20px 0 0 14%;
    width: 230px;
    height: 260px;
  }

  .input[type="text"]:hover {
    width: 200px;
  }

  .input[type="text"]:focus {
    width: 220px;
  }



  /* Phone */
  .phone {
    position: relative;
    z-index: 2;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(142.99deg, rgba(247, 247, 247, 0.9) 15.53%, rgba(249, 253, 210, 0.514) 88.19%);
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .1);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0 0 15%;
  }

  /* Top */
  .menu {
    /*   background-color: blue; */
    font-size: 80%;
    opacity: .4;
    padding: .8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5rem;
  }

  .battery {
    width: .85rem;
    height: .45rem;
    background-color: black;
  }

  .network {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.8px 7.2px 6.8px;
    border-color: transparent transparent black transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: .12rem .5rem;
  }

  .time {
    color: black;
  }

  .toggle i{
    color: #6a8bdf;
  }
  


}


svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -3;
}
