<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board</title>
</head>


<body>
{% block content %}

{% if user.is_authenticated %}
<p>안녕하세요, {{user.username}}님!</p>
<a href="/accounts/logout">로그아웃</a>
{% else %}

{% endif %}


<h2>묻고 답해요</h2>
<h3><a href="{% url 'post_register' %}">작성하기</a></h3>
<section>
    {% for post in posts %}
    <div>
        <h2>
            <a href="{% url 'post_detail' pk=post.pk %}" class="photo">{{post.title}}</a>
        </h2>
        <p>{{post.author}}</p>
    </div>
    {% endfor %}
</section>
{% endblock %}
</body>
</html>
