/* 모바일 화면 스타일 (스마트폰) */
@media (min-width: 320px) and (max-width: 767px) {
    /* 모바일 화면에 적용할 스타일 작성 */
    
  }

    html, body{
    width: 100%;
    height: 100%;
  }
  body{
    margin: 0;
    padding: 0;
  }

  #layout{
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    /* position: fixed;
    overflow: hidden; */
    
     
  }
  #WhatDo{
    height: 150px;
    padding: 20px;
    /* text-align: center; */
    margin-left: 40%;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #F1ED8F;

  }
  .bth-1 a,  .bth-2 a {text-decoration: none;}



  .bth-1{
    width: 250px;
    height: 150px;
    border-radius: 70% 30% 70% 30% / 70% 62% 38% 30% ;
    margin-left: 30%;
    border-style: none;
    background-color: #F1ED8F;
    
  }
  .bth-2{
    width: 250px;
    height: 150px;
    border-radius: 30% 70% 17% 83% / 68% 62% 38% 32% ;
    margin-left: 50%;
    border-style: none;
    background-color: #F1ED8F;
  }

  #str1{
    font-size: 50px;
    font-weight: 600;
  }

  #str2, #str3{
    font-size: 20px;
    font-weight: 600;
  }

  #str4, #str7 {
    font-size: 30px;
    font-weight: 600;
  }

  #str5, #str6, #str8, #str9{
    font-size: 20px;
    font-weight: 600;
  }

  #back{
    background-color: #6886D2;
    width: 300px;
    height: 300px;
    border-radius: 69% 31% 66% 34% / 69% 46% 54% 31% ;
    
  }