/* #writeArea{
    width: 200px;
    height: 150px;
    padding: 20px;
    font-size: 1em;
    resize: none;
    border: 2px solid rgba(138, 177, 180, 0.5);
    border-radius: 30px; */
/* 박스의 크기를 테두리를 기준으로 */
/* box-sizing: border-box; */
/* focus 될 때 테두리 색상 지정 */
/* outline-color: rgb(138, 177, 180);
} */

/* 모바일 화면 스타일 (스마트폰) */
@media (min-width: 320px) and (max-width: 767px) {
    /* 모바일 화면에 적용할 스타일 작성 */

}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.layout {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    /* position: fixed;
    overflow: hidden; */
}

#str1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.titleText{
    height: 150px;
    padding: 20px;
    margin-left: 30%;
    margin-top: 100px;
}